* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #31292c;
}
#loader {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(45deg);
    background: #dd9fa0;
    animation: beating 3s ease infinite;
}

#loader:before,
#loader:after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #dd9fa0;
    position: absolute;
}

#loader:before {
    top: 0;
    left: -18px;
}

#loader:after {
    top: -18px;
}

@keyframes beating {
    0% {
        transform: rotate(45deg) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(2);
    }

    100% {
        transform: rotate(360deg) scale(0);
    }
}

#myDiv {
    display: none;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    background: #31292c;
}

header {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

header .links a {
    color: rgba(255, 255, 255, .25);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
}

header .links a:hover {
    color: #fff;
}

header .cv {
    margin-top: 20px;
    border: 2px solid rgba(255, 255, 255, .25);
    border-radius: 10px;
}

header .cv a {
    color: rgba(255, 255, 255, .25);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
header .cv a:hover {
    color: #000;
    background: #fff;
    border-radius: 10px;
}

main {
    padding: 20px;
    color: rgba(255, 255, 255, .25);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 4px double rgba(255, 255, 255, .25);
    border-width: 4px 0;
    margin-top: 20px;

}

main p {
    width: 60%;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
    display: inline-block;
    padding: 1.5em 0em;
    position: relative;
}

main span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);

    /* Clip Background Image */

    background: url(https://img.lovepik.com/element/40071/2975.png_860.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    animation: aitf 5s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

main figure {
    text-align: center;
    background-size: cover;
    width: 40%;
    height: 100%;
    max-height: 600px;
}

main figure img {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.enter {
    margin: auto;
    padding: 10px;
}

.enter a {
    color: rgba(255, 255, 255, .35);
    font-size: 35px;
    text-decoration: none;
    font-family: cursive;
}

.enter a:hover {
    color: #fff;
}

@media screen and (max-width: 877px) {
    .container {
        width: 100%;
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    main p {
        width: 100%;
    }

    main figure {
        width: 100%;
    }

    header .cv {
        margin-right: 10px;
    }
}

@media screen and (max-width: 477px) {

    main span {
        font: 700 3em/1 "Oswald", sans-serif;
        letter-spacing: 0;
        padding: 0;
    }
}

@media screen and (max-width: 343px) {

    main span {
        font: 700 2em/1 "Oswald", sans-serif;
    }

    main figure img {
        width: 250px;
        height: 250px;
    }
    header .cv {
        margin: auto;
    }
}